.container {
    // Flex
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    // Lenght
    width: clamp(400px, calc(395px + 1%), 500px);
    aspect-ratio: 1/.5;
    padding: 20px;
    // background
    background-color: hsl(var(--basic)/ .5);
    // Text
    color: hsl(var(--basic_txt));
    // Border
    border-radius: 50px;

    header {
        width: 100%;
    }

    > section {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: space-between;

        .links {
            >div {
                display: flex;
                column-gap: 5px;
                a {
                    position: relative;
                    width: 15px;
                    aspect-ratio: 1/1;

                    img {
                        // Background
                        filter: var(--icon_inversion);
                    }

                }
            }

        }

        .topics {
            >div {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;

                >div {
                    padding: 2px 8px;
                    // background
                    background-color: hsl(var(--accent)/ .5);
                    // border
                    border-radius: 50px;
                }
            }
        }

    }
    .dates{
        align-self: flex-end;
        // Flex
        display: flex;
        flex-direction: column;
        // Text
        font-size:  10px;
    }
}