// Color schemes
@mixin dark {
  --primary: var(--black-light);
  --secondary: var(--blue_dark);
  --primary_txt: var(--white);
  --secondary_txt: var(--blue_light);
}

@mixin light {
  --primary: var(--white-dark);
  --secondary: var(--blue_light);
  --primary_txt: var(--black);
  --secondary_txt: var(--blue_dark);
}

:root {
  /* Dark colors */
  --black: hsl(0, 0%, 9%);
  --black-light: hsl(0, 0%, 14%);
  --grey-dark: hsl(0, 0%, 19%);
  /* Light colors */
  --white: hsl(0, 0%, 91%);
  --white-dark: hsl(0, 0%, 86%);
  --grey-light: hsl(0, 0%, 81%);
  // Color schemes
  --blue_light: hsl(210, 100%, 86%);
  --blue_dark: hsl(210, 24%, 30%);

  @include light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // SCROLLBAR for Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
}

body {
  // Color schemes
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @include dark;
  }

  &.light {
    color-scheme: light;
    @include light;
  }

  &.dark {
    color-scheme: dark;
    @include dark;
  }
}

/* SCROLLBAR for Chrome, Edge and Safari */
::-webkit-scrollbar {
  width: .5vw;
  height: .5vw;
}

::-webkit-scrollbar:hover {
  width: 10vw;
  height: 10vw;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--secondary), var(--primary), var(--secondary));
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
  width: 10vw;
  height: 10vw;
}

::-webkit-scrollbar-track {
  margin-block: 5em;
  background-color: transparent;
  border-radius: 100vw;
}
// Body
body {
  color: var(--primary_txt);
  background: var(--primary);
  text-rendering: optimizeSpeed;
}
header {
  height: clamp(6rem, 20vw + 1rem, 4rem) ;
}


a {
  color: inherit;
  text-decoration: none;
}

#__next  {
  display: flex;
  flex-direction: column-reverse;
}